<h1>Dr. Spark & Associates</h1>
<h2>Our Specialties:</h2>
#foreach($specialty in $specialties)
<h3>$specialty.getDescription()</h3>
#end
<form action='/' method='post'>
  <div class="form-group">
    <label for="item1">Add Specialty: </label>
    <input id="specialty" name="specialty" class="form-control" type="text">
  </div>

  <button type='submit' class='btn'>Add Specialty!</button>
</form>
